@import "./scss/helpers/colors.scss";

html {
  height: 100%;
  width: 100%;
}

.App {
  position: relative;
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 75px;
  padding-bottom: 60px;
  font-family: "Merriweather";
  button {
    background-color: transparent;
    border-width: 0;
    &:focus {
      box-shadow: none;
      outline: 0;
    }
  }
}
