@mixin font-12 {
  font-size: 12px;
}
@mixin font-14 {
  font-size: 14px;
}
@mixin font-16 {
  font-size: 16px;
}
@mixin font-18 {
  font-size: 18px;
}
@mixin font-20 {
  font-size: 20px;
}
@mixin font-22 {
  font-size: 22px;
}
@mixin font-24 {
  font-size: 24px;
}
@mixin font-26 {
  font-size: 26px;
}
@mixin font-28 {
  font-size: 28px;
}
@mixin font-36 {
  font-size: 36px;
}
@mixin font-48 {
  font-size: 38px;
}
@mixin font-60 {
  font-size: 60px;
}
@mixin font-72 {
  font-size: 72px;
}
