@import "./colors.scss";
@import "./fonts.scss";

@mixin input-white {
  background-color: $white;
  color: $brown;
  border: none;
  border-radius: 1px;
  box-shadow: none;
  &::placeholder {
    font-family: "ToxTypewriter";
    color: $brown;
  }
  &:focus {
    background-color: $white;
    color: $brown;
  }
}

@mixin label {
  padding: 5px 7px;
  color: $brown;
  @include font-16;
  font-weight: 500;
  background-color: $white;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  cursor: pointer;
}
