@import "./colors.scss";
@import "./fonts.scss";
@import "./media.scss";

@mixin whiteSearchbar {
  height: 50px;
  padding: 10px 15px;
  background-color: $white;
  color: $purple;
  border: 1px solid $purple;
  border-radius: 5px;
  box-shadow: none;
  @include font-16;
  &::placeholder {
    color: $purple;
  }
  &:focus {
    color: $purple;
  }
  @include md {
    height: 60px;
    @include font-22;
  }
}

@mixin whiteInput {
  height: 35px;
  padding: 5px 10px;
  background-color: $white;
  color: $purple;
  border: 1px solid $purple;
  border-radius: 5px;
  box-shadow: none;
  @include font-14;
  &::placeholder {
    color: $purple;
  }
  &:focus {
    color: $purple;
  }
}

@mixin label {
  padding: 5px 7px;
  color: $purple;
  background-color: $white;
  border: 1px solid $purple;
  border-radius: 5px;
  @include font-12;
  font-weight: 500;
  box-shadow: none;
  cursor: pointer;
  @include md {
    @include font-14;
  }
}

@mixin linkUnstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    font-size: inherit;
    text-decoration: none;
  }
}

@mixin btn {
  border-radius: 5px;
  transition: 0.3s;
  @include font-14;
  font-weight: 600;
  cursor: pointer;
  &:focus {
    box-shadow: none;
    outline: 0;
  }
  @include md {
    @include font-16;
  }
}

@mixin whiteBtn {
  @include btn;
  background-color: $white;
  color: $purple;
  border: 1px solid $purple;
  &:hover {
    background-color: $purple;
    color: $white;
  }
}

@mixin purpleBtn {
  @include btn;
  background-color: $purple;
  color: $white;
  border: 1px solid $purple;
  &:hover {
    background-color: $white;
    color: $purple;
  }
}

@mixin redBtn {
  @include btn;
  background-color: $red;
  color: $white;
  border: 1px solid $red;
  &:hover {
    background-color: $white;
    color: $red;
  }
}
