.add-movie {
  color: #FFF;
  height: 100%;

  .poster-movies-container {
    max-height: 350px;
    overflow: scroll;

    img {
      width: 100%;
      height: auto;
    }
  }

  textarea {
    resize: none;
  }
}