@import "./helpers/colors";

.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: $white;
  color: $purple;
  border-top: 1px solid $light-purple;
  text-align: center;
}
