@import "./helpers/colors";
@import "./helpers/fonts.scss";
@import "./helpers/media.scss";
@import "./helpers/forms.scss";

.Header {
  // margin-bottom: 75px;
  .navbar {
    background-color: $white;
    border-bottom: 1px solid $light-purple;
  }

  .navbar-brand {
    @include font-32;
    color: $purple;
  }
  .navbar-toggler:focus,
  .navbar-toggler:active {
    outline: 0;
    box-shadow: none;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(104,103,164, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-collapse {
    outline: 0;
    box-shadow: none;
  }

  .nav-item {
    text-align: center;
    @include font-16;
    font-weight: 600;
    width: 45%;
    margin-bottom: 5px;
    @include sm {
      width: 20%;
    }
    @include lg {
      width: auto;
      margin-right: 5px;
    }
  }

  .homeLink, .collectionLink, .profileLink {
    color: $purple;
    &:hover {
      color: $light-purple;
    }
  }

  .signinBtn,
  .signoutBtn {
    @include whiteBtn;
  }

  .signupBtn {
    @include purpleBtn;
  }

  .icon {
    display: inline-block;
    margin-left: 8px;
  }
}
