@import "./helpers/colors";

.Header {
  .navbar {
    background-color: $white;
    padding: 0;
    height: 75px;
  }

  .navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
  }

  .navbar-brand {
    float: none;
    color: $brown;
    font-size: 36px;
  }

  .navbar-collapse{
    width: 20%;
  }

  .nav-item ,.nav-link{
    color: $brown;
  }

}