@import "./helpers/colors";
@import "./helpers/fonts.scss";
@import "./helpers/media.scss";
@import "./helpers/forms.scss";

.containerHome {
  height: calc(100vh - 135px);

  .title {
    @include md {
      height: calc(100vh - 135px);
    }
    text-align: center;
    @include md {
      text-align: right;
    }
    strong {
      @include font-72;
    }
    h1 {
      color: $purple;
    }
    h4 {
      color: $light-purple;
    }

    .btnGoToCollection {
      @include purpleBtn;
      .linkUnstyled {
        @include linkUnstyled;
      }
      .icon {
        display: inline-block;
        margin-left: 8px;
      }
    }
  }

  .imgHome {
    height: 40vh;
    @include md {
      height: calc(100vh - 135px);
    }
    img {
      height: 100%;
      @include md {
        height: 50%;
      }
      @include xl {
        height: 70%;
      }
    }
  }
}
