@import "./helpers/colors";
@import "./helpers/fonts";

.Movies {
  color: $white;

  .cardMovie{
    padding: 0;
    margin:0;
  }

  .titleCollection{
    border-bottom: solid 1px $white;
    margin: 0 10px 20px 0;
  }

  .noMovieMessage{
    @include font-20;
  }
}

