@import "./helpers/colors";
@import "./helpers/fonts";
@import "./helpers/media";

.moviesContainer {
  .titleCollection {
    color: $purple;
    border-bottom: solid 1px $purple;
    margin: 0 0 10px 0;
    h4 {
      @include font-20;
      @include md {
        @include font-24;
      }
    }
  }

  .noMovieMessage {
    color: $red;
    @include font-18;
  }
}
