@import "./helpers/colors";
@import "./helpers/fonts";


.cardMovie {
  border: none !important;

  .card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: $white;
    opacity: 0.9;

    .card-body{
      height: 100%;
      color: $brown;
      .card-title{
        @include font-20;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .card-text{
        @include font-16;
        overflow: auto;
        margin-bottom: 7%;
      }

      .list-group-item {
        @include font-16;
        background-color: $white;
        &:first-child{
          border-top: none;
        }
        &:last-child{
          border-bottom: none;
        }
      }
    }
  }

  .btn:focus{
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgba($brown, 0.1);
  }
}

.iconRed{
  color: $red;
  font-size: 14px;
}
.iconBrown{
  color: $brown;
  font-size: 14px;
}

