@import "./helpers/colors";


.cardMovie {
  border: none !important;
  color: #000;

  .card-img-top {
    width: 100%;
  }

  .card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    background-color: $white;
    opacity: 0.95;

    .card-body{
      height: 100%;
      .card-title{
        font-size: 0.95rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .card-text{
        font-size: 0.8rem;
        width: 100%;
        overflow: auto;
        padding:2%;
        margin-bottom: 7%;
      }

      .list-group-item {
        font-size: 0.8rem;
        background-color: $white;
        padding: 1%;
        &:first-child{
          border-top: none;
        }
        &:last-child{
          border-bottom: none;
        }
      }

      .moreInfoPart{
        width: 100%;
        position: absolute; top: 0;
        left: 0;
      }
    }
    .btn:focus{
      outline: 0;
      box-shadow: 0 0 0 0.1rem rgba($brown, 0.1);
    }
  }



}

// .show {
//   width: 100vw !important;
// }

.iconRed{
  color: $red;
  font-size: 14px;
}
.iconBrown{
  color: $brown;
  font-size: 14px;
}

