@import "./helpers/colors";
@import "./helpers/fonts";
@import "./helpers/forms";
@import "./helpers/media.scss";

.signInContainer,
.signUpContainer {
  color: $purple;
  .imgSignIn, .imgSignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: radial-gradient($light-purple, $purple);
    height: 40vh;
    @include md {
      height: 100vh;
    }
    img {
      height: 65%;
      @include md {
        height: 40%;
      }
      @include xl {
        height: 50%;
      }
    }
  }

  input {
    @include whiteInput;
    // Css autofill in chrome
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $dark-purple;
      @include font-14;
    }
  }
  .btnSignIn,
  .btnSignUp {
    @include whiteBtn;
  }

  .icon {
    display: inline-block;
    margin-left: 8px;
  }

  .msgFailed {
    color: $red;
    @include font-14;
  }

  a {
    @include font-14;
    color: $purple;
    &:hover {
      color: $purple;
      text-decoration: underline;
    }
  }
}
