@import "./helpers/colors";
@import "./helpers/fonts";
@import "./helpers/forms";
@import "./helpers/media.scss";

.signInContainer,
.signUpContainer {
  color: $purple;
  .imgSignIn,
  .imgSignUp {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: radial-gradient($light-purple, $purple);
    height: 40vh;
    @include md {
      height: 100vh;
    }
    img {
      height: 65%;
      @include md {
        height: 40%;
      }
      @include xl {
        height: 50%;
      }
    }
  }

  input {
    @include whiteInput;
    // Css autofill in chrome
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus {
      -webkit-text-fill-color: $dark-purple;
      @include font-14;
    }
  }

  .input-group-text {
    padding: 6px 6px;
    border: solid 1px $purple;
    background-color: rgba($light-purple, 0.5);
    // background-color: $light-purple;
    .iconEye {
      color: $white;
      @include font-16;
    }
  }

  .btnSignIn,
  .btnSignUp {
    @include whiteBtn;
  }

  .icon {
    display: inline-block;
    margin-left: 8px;
  }

  .failedMsg {
    color: $red;
    @include font-14;
  }

  a {
    @include font-14;
    color: $purple;
    &:hover {
      color: $purple;
      text-decoration: underline;
    }
  }
}
